/*
===
The Lyon Master CSS 
===
*/

/* General Stuff */

body {
    font-family: 'Raleway', sans-serif;
    height: auto;
    background-color:#F0F0F0;
    width: 100vw;
    overflow-x: hidden;
}

html {
    overflow-x: hidden;
}

#app {
    min-height: 100vh;
    background-color:#F0F0F0;   
}

/* All Content */
.content{
    width:93vw;
    min-height:100vh;
    position:absolute;
    background-color:#F0F0F0;
    left:7vw;
}

.btn {
    border: none;
    outline: none;
    padding: 10px;
    background-color: #276bf7;
    color: white;
    transition-duration: .3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #1352d3;
    transition-duration: .3s;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, .3);
}

/* Navbar */

.navbar {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    background-color: #276bf7;
    position:fixed;
    height:100vh;
    width: 7vw;
    left:0px;
    top:0px;
    padding: 0px!important;
    z-index: 1000;
}

.navbar-brand {
    text-align: center;
    padding:0px;
    height:7vw;
    width:7vw;
    position: absolute;
    color:rgb(253, 227, 148);
    line-height: 7vw;
    white-space: nowrap;
    top:20px;
    font-size:1.25em;
    transform: rotate(-90deg); 
    margin: 0px;
    transition-duration:.2s;
}

.navbar-brand:hover {
    transition-duration: .2s;
    transform: rotate(-90deg);
    color: #F2C94C;
    /*background-color:#1b51bd;*/
    text-shadow: 0px 0px 5px rgba(0,0,0,.1);
}

.openMenu{
    color:white;
    font-size:35px;
    width:7vw;
    line-height:7vh;
    text-align:center;
    position:fixed;
    bottom:0px;
    height:7vw;
}

.fa-compass{
    z-index:15;
    transition-duration:.2s;
}

.fa-compass:hover{
    transform: rotate(90deg);
}

.submenu{
    overflow: hidden;
    z-index:11;
    position:fixed;
    top:0px;
    left:7vw;
    width:0px;
    height:100vh;
    background-color:#2664e0;
}

.tile .icon{
    width:100%;
    padding:10px;
    font-size:45px!important;
    text-align:center;
}

.is-child{
    min-width:108px;
    opacity:0;
    padding-right:24px;
}

@media only screen and (max-device-width: 990px) {
    .navbar {
        width: 12vw;
    }

    .navbar-brand {
        top:2.3em;
        font-size:1.15em;
        line-height:12vw;
        height:12vw;
        width:12vw;
    }

    .openMenu{
        font-size:25px;
        width:12vw;
        line-height:10vh;
        height:10vh;
    }

    .submenu{
        overflow-y: scroll;
        left:11vw;
    }

    a .title{
        width:100%;
        font-size:20px;
    }

    /* All Content */
    .content{
        width:88vw;
        left:12vw;
    }

}

.is-parent a{
    transition-duration:.2s;
}

.is-parent a:hover{
    text-decoration: none;
    transition-duration:.2s;
    transform: scale(.98,.98);
}

/* Mobile Menu */

#mobile-menu {
    display: none;
}

.dropdown-menu {
    left: -24px;
    border: none;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, .2);
    width: 100vw;
    transition-duration: 0s;
}

.dropdown-item {
    margin: 0px;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    transition-duration: .2s;
}

#mobile-nav {
    position: fixed;
    margin: 0px;
    z-index: 0;
    top: 0px;
    width: 100vw;
    left: 0px;
    top: 92px;
}

/* Meta */

#metaDropdown .dropdown-menu {
    position:absolute;
    width: 200px;
    color: black;
    transition-duration: 0s;
}

#metaDropdown .dropdown-menu a {
    color: black;
    padding: 10px;
}

/*---
MAIN PAGE
---*/

/* Info Section */

.info-section {
    width: 100%;
    margin-top: 30px;
    height: 570px;
    position: absolute;
    line-height: 549px;
    background-image: url("/img/banner.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.info-section * {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}

.info-section h1 {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
    max-width: 100%;
    overflow: hidden;
    font-family: 'Monoton', cursive;
    font-size: 100px;
    line-height: 200px;
    color: white;
    background: url("../img/yellow_blue_by_positivity-d4nebkp.jpg");
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.info-section h3 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 324px;
    max-width: 100%;
    font-family: Raleway;
    font-style: normal;
    font-size: 50px;
    line-height: 100px;
    color: white;
}

@media only screen and (max-device-width: 770px) {
    .info-section h1 {
        font-size: 70px;
        line-height: normal;
    }

    .info-section h3 {
        font-size: 30px;
        top: 390px;
        line-height: normal;
    }
}

.inner-section {
    position: absolute;
    background: rgba(0, 0, 0, .3);
    width: 90%;
    height: 400px;
    margin-left: 5%;
    margin-top: 12px;
    border-style: solid;
    border-color: white;
    border-radius: 4px;
    border-width: 2px;
    padding: 15px;

}

.more-articles {
    text-align: center;
    display:inline-block;
    position:relative;
    height: 175px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    background-image: url("/img/rom.jpg");
    background-position: center;
    background-attachment: fixed;
    padding: 60px;
}

.more-articles h3 {
    line-height: 65px;
    color: white;
    text-shadow: 0px 0px 6px rgba(0, 0, 0, .7);
}

.week {
    padding-top: 10px;
}

.info-section p {
    position: relative;
    width: 60%;
    margin: 0px;
    margin-top: 10px;
    color: white;
    font-size: 22px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 4px;
    padding: 10px;
}

#featured-title {
    padding: 20px;
}

.featured-container {
    height: 580px;
    width: 150vw;
    overflow: visible;
    position: absolute;
}

.featured-scroll {
    top: 529px;
    padding: 20px;
    overflow-y: visible;
    overflow-x: scroll;
    height: 600px;
    position: relative;
    padding-top: 0px;
}

.featured-scroll::-webkit-scrollbar-button {
    border-radius: 0px;
    background-color: #fff;
}

.featured-scroll::-webkit-scrollbar-button:hover {
    background-color: #ffffff;
}

.featured-scroll::-webkit-scrollbar-thumb {
    background-color: #f2de4d;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    border-radius: 50px;
}

.featured-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #f2de4d;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}

.featured-scroll::-webkit-scrollbar-track {
    background-color: #276bf7;
    border-radius: 50px;
}

.featured-scroll::-webkit-scrollbar-track:hover {
    background-color: #276bf7;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    border-radius: 50px;
}

.featured-scroll::-webkit-scrollbar {
    width: 0px;
    height: 10px;
    display: none;
}

.nextBtns button {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    position: absolute;
    z-index: 800;
    top: 770px;
}

.nextBtns span {
    font-size: 25px;
    line-height: 25px;
}

.post-featured {
    border: none;
    margin: 10px;
    width:84vw;
    position: relative;
    display: inline-block;
    top: 0px;
    padding: 0px;
    overflow: hidden;
    height: 550px;
    transition-duration: .2s;
    border-radius: 1px;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .2);
    margin:4vw;
    margin-top:2vw;
    margin-bottom:2vw;
}

@media only screen and (max-device-width: 990px) {
    .post-featured {
        width: 80vw;
    }
}

.top-title {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .2)!important;
    margin-top: 0px!important;
    margin-bottom: 30px!important;
    color: white;
    background: #207cca;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #207cca 14%, #1e5799 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #207cca 14%, #1e5799 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #207cca 14%, #1e5799 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#1e5799', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}

.post-featured:hover {
    -webkit-transform: scale(1.01, 1.01);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}

.post-featured .intro {
    padding-left: 25px;
    padding-right: 25px;
    height: 160px;
    overflow: hidden;
    line-height: 160px;
    font-size: 18px;
}

.post-featured .readMore {
    margin-left: 25px;
    margin-top: 10px;
    padding: 15px;
}

.post-featured .intro p {
    line-height: normal;
    vertical-align: middle;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.featured-info {
    height: 150px;
}

.post-featured img {
    width: 100%;
    object-fit: cover;
    height: 250px;
}

.post-featured h1 {
    width: 70%;
    background-color: rgba(0, 0, 0, .3);
    padding: 20px;
    padding-left: 20px;
    color: white;
    margin-top: 50px;
    position: absolute;
}

.featured-author {
    width: 100%;
    text-align: right;
    padding: 10px;
    height: 60px;
    overflow: hidden;
    position: relative;
}

.featured-author .name-container {
    text-align: right;
    margin-right: 5px;
    width: 100%;
    height: 10px;
    display: inline-block;
    position: absolute;
    right: 70px;
    top: 22px;
}

.name-container h2 {
    font-size: 22px;
    text-align: right;
    top: 10px;
    color:black!important;
}

.featured-author img {
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 100%;
}

.post-featured span {
    position: absolute;
    color: white;
    right: 0px;
    font-size: 20px;
    top: 20px;
    padding: 7px;
    width: 120px;
    text-align: center;
    box-shadow: -5px 0px 10px rgba(0, 0, 0, .2);
    background-color: #276bf7;
}


@media only screen and (max-width:1000px) {
    .post-featured h1 {
        font-size: 25px;
        top: 30px;
        width: 100%;
    }

    .featured-container {
        width: 225vw;
        height: 480px;
    }

    .featured-scroll {
        height: 480px;
    }

    .post-featured img {
        height: 160px;
    }
    .name-container h2 {
        font-size: 18px;
        top: 12px;
    }
    .featured-author img {
        height: 45px!important;
        width: 45px;
    }

    .post-featured h1 {
        top: 5px;
        font-size: 20px!important;
    }
    .post-featured span {
        height: 30px;
        font-size: 17px!important;
        line-height: 17px;
    }

    .post-featured .intro {
        height: 130px;
        line-height: 130px;
    }
    .intro p {
        font-size: 14px;
    }

    .more-articles {
        height: 260px;
    }

    #baitText * {
        font-size: 21px;
        line-height: 24px;
        padding-bottom: 25px;
    }
}

.featured {
    text-align: left;
}

/* Article Post */

.post {
    margin-top: 10px;
    margin-bottom: 10px;
    transition-duration: .2s;
    max-height: 375px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .1);
}

.post-full {
    background-color:white;
    max-height: none;
    padding: 20px;
    height: auto;
}

.post-hover:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    transition-duration: .2s;
}

.post #info {
    padding-top: 40px;
}

.post #picture {
    padding: 0px;
}

.post h1 {
    font-size: 32px;
    line-height: 50px;
    position: absolute;
    background-color: rgba(0, 0, 0, .3);
    z-index: 100;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
}

.post h2 {
    margin-top: 20px;
}

#post-img {
    padding: 0px;
    min-height: 375px;
    min-width: 50%;
    object-fit: cover;
}

.post p {
    width: 100%;
    font-size: 20px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    line-height: 28px;
}

.post .intro-container {
    height: 190px;
    line-height: 190px;
    margin-top: 60px;
    margin-bottom: 10px;
}

.post .btn {
    width: 150px;
    padding: 15px;
}

#profile-row {
    text-align: right;
}

#profile-row h3 {
    line-height: 60px;
    position: relative;
    float: right;
    margin-top: auto;
    margin-right: 20px;
}

#profile {
    vertical-align: middle;
    position: relative;
    float: right;
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 100%;
}

@media only screen and (max-device-width: 990px) {
    .post {
        max-height: 800px;
        padding: 0px;
    }
    .post-full {
        max-height: none;
    }
    #post-img {
        height: 200px;
        width: 100%;
        object-fit: cover;
        margin-bottom: 0px;
    }
    .post h1 {
        bottom: 12px;
        max-height: 200px;
    }

    .post .intro-container {
        height: 200px;
        line-height: 200px;
    }

    .post p {
        padding-left: 20px;
        padding-right: 20px;
    }

    .post .btn {
        width: 40%;
        padding: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
    }
}


/* Footer */

footer {
    position:absolute;
    bottom:-175px;
    color: white;
}

#footer-light {
    height: 115px;
    padding: 20px;
    background-color: #444444;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, .3);
}

#footer-light * {
    font-size: 17px;
}

#footer-light li * {
    font-size: 13px!important;
}

#footer-light a {
    color: white;
    text-align: right;
}

#footer-dark {
    text-align: center;
    height: 60px;
    background-color: #2F2F2F;
    color: white;
    overflow: hidden;
}

#footer-dark p {
    line-height: 60px;
    font-size: 15px;
}

#meta {
    text-align: right;
}

footer li {
    list-style-type: none;
}

@media only screen and (max-device-width:770px) {
    footer{
        bottom:-260px;
    }

    #footer-light {
        text-align: center;
        height: 200px;
    }
    #footer-light h4 {
        font-size: 15px;
    }
    #footer-light #meta {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
}

/* Article Page */

.post-page {
    min-height:300px;
    position:relative;
    height: auto;
    background-color:white;
    width: 90%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .2);
    margin-top: 15px;
    margin-bottom: 15px;
    padding:0px;
    padding-bottom: 40px;
    max-height: none;
}

.full {
    width: 100%;
    margin: 0px;
}

.post-page p {
    position: relative;
}

.post-page h1 {
    background: rgba(0, 0, 0, .3);
    top: 30px;
    position: absolute;
    color: white;
    font-size: 50px;
    padding: 20px;
}

.post-page .head-img {
    padding: 0px;
    height:450px;
    width: 100%;
    background-size:cover;
    background-attachment: fixed;
}

.post-page #profile {
    width: 50px;
    height: 50px;
}

.post-page .row p {
    padding: 0px;
    margin: 0px;
}

.post-page h3 {
    line-height: 50px;
    margin-right: 60px;
    font-size: 20px;
}

.post-page .text-container{
    padding:40px;
}

.text-container h1{
    position:relative;
    font-size:32px;
    padding:0px;
    color:#363636!important;
    background:none;
}

@media only screen and (max-device-width:770px) {
    .post-full {
        width: 100%;
        margin: 0px;
    }

    .post-page {
        padding: 0px;
        width: 100%;
        overflow-x: hidden;
    }

    #timestamp {
        display: none;
    }

    .post-page .text-container {
        padding: 20px;
        margin-bottom: 10px;
    }

    .post-page h1 {
        font-size: 30px;
    }

    .post-page .head-img {
        width: 100%;
        margin: 0px;
    }
}

/* ===
'Admin' Page
=== */

#quickStart .btn {
    width: 90%;
}

/* ===
New Post Pg 
=== */

#intro {
    width: 100%;
}

/* ===
All Posts Page (News)
===*/

.post-tab {
    -webkit-transform: scale(1.0, 1.0);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
    height: 425px;
    border-radius: 0px;
    margin-left: 2%;
    margin-bottom: 20px;
    width: 96%;
    border-radius: 3px;
    transition-duration: .2s;
    background-color: white;
}

.post-tab:hover {
    -webkit-transform: scale(1.01, 1.01);
    box-shadow: 0px 0px 18px rgba(0, 0, 0, .3);
    transition-duration: .2s;
}

.post-tab img {
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    height: 150px;
    object-fit: cover;
}

.post-tab h1 {
    top: 40px;
    position: absolute;
    width: 87%;
    overflow: hidden;
    max-height: 110px;
    font-size: 22px;
    line-height: 38px;
    padding: 2px;
    height: auto;
}

.post-tab p {
    margin: 0;
    margin-top: 10px;
}

#intro * {
    width: 90%;
    top: 0px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    font-size: 15px;
    line-height: 22px;
}

.post-tab .intro-container {
    height: 160px;
    overflow: auto;
    line-height: 160px;
    position: relative;
    top: 5px;
    margin: 0px;
    margin-bottom: 15px;
    padding: 0px;
}

.post-tab button {
    min-width: 60%;
    position: relative;
    bottom: 0px;

}

.playlist p {
    margin-top: 0px;
}

.playlist h2 {
    padding-top: 20px;
}

.playlist .intro-container {
    height: 310px;
    margin-top: 10px;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 0px;
}

.playlist iframe {
    width: 100%;
    height: 310px;
    border-radius: 5px;
    margin: 0px;
    padding: 0px;
}

.post #search {
    width: 400px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    float: right;
}

#search input {
    float: left;
    width: 70%;
}

@media only screen and (max-device-width: 990px) {
    .post-tab{
        margin-top:20px;
    }
    
    .post-tab button {
        min-width: 70%;
        margin: 0px;
        margin-right: 7%;
        position: relative;
        bottom: 10px;
    }

    .post-tab h1 {
        height: 48px;
    }
}

#page-title{
    color:white!important;
}

@media only screen and (max-device-width: 770px) {
    .post-tab button {
        min-width: 70%;
        margin: 0px;
        margin-right: 3%;
        position: relative;
        bottom: 10px;
    }

    .post #search {
        width: 90%;
        margin-right: 5%;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    #page-title {
        margin-bottom: 5px;
        margin-left: 10px;
    }
}

@media only screen and (max-device-width:285px) {
    .playlist .intro-container {
        height: 274px;
    }
}

/*===
Author Page
===*/

.author {
    background-color:white;
    margin-top: 10px;
    margin-bottom: 10px;
    transition-duration: .2s;
    overflow: auto;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .1);
    padding: 30px;
}

.img-container {
    position: relative;
    height: 270px;
    line-height: 270px;
}

.author #authorProfile {
    object-fit: cover;
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.bio-container {
    height: 200px;
    line-height: 200px;
}

.author p {
    vertical-align: middle;
    display: inline-block;
    line-height: 28px;
}

.author h1 {
    margin-top: 10px;
    font-size: 38px;
    margin-bottom: 20px;
}

@media only screen and (max-device-width:884px) {
    .author h1 {
        font-size: 30px;
    }
}

@media only screen and (max-device-width:510px) {
    .author p {
        font-size: 15px;
        line-height: 22px;
    }

    .author .bio-container {
        height: 300px;
        line-height: 300px;
    }
}

/* ===
Author Tabs
=== */

.author-tab {
    height: 370px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.author-tab img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 20px;
}

.author-tab .text {
    text-align: center;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding: 10px;
    height: 160px;
    width: 95%;
    margin-left: 2.5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
}

.author-tab h5 {
    font-size: 17px;
}

.author-tab .nameCenter {
    line-height: 50px;
    height: 50px;
    overflow: hidden;
    margin-bottom: 5px;
}

.author-tab h2 {
    font-size: 20px;
    line-height: normal;
    vertical-align: middle;
    display: inline-block;
    margin-top: 5px;
}


#search .btn {
    width: auto;
    height: inherit;
    margin-left: 5%;
    line-height: 8px;
    border-radius: 5px;
    padding: 15px;
}

.mce-notification {
    display: none;
}

/* 
Admin Page
*/

#delete {
    height: inherit;
    width: auto;
}

/* 
Contact Page 
*/

.contact {
    width: 80%;
}

.contact * {
    margin: 10px;
}

/* Sweep To Top */

.hvr-sweep-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hvr-sweep-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-sweep-to-top:hover,
.hvr-sweep-to-top:focus,
.hvr-sweep-to-top:active {
    color: white;
}

.hvr-sweep-to-top:hover:before,
.hvr-sweep-to-top:focus:before,
.hvr-sweep-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}
